<% posts = {Post}.all %>

<h1><%= place["name"] %></h1>
 
<ul>
  <% for post in posts %>
    <li>
      <%= post["activity"] %>
      <%= post["posted_on"] %>
    </li>
  <% end %>
</ul>

<p>
  <a href="">New Post</a>
</p>